:root {
  --font-primary: "Roboto", sans-serif;
  --white: #fff;
  --brand-blue: #2196f3;
  --brand-black: #212121;
  --brand-gray: #757575;
  --brand-bluegray: #f5f4fa;
  --brand-darkgray: #2f303a;
  --svg-gray: #afb1b8;
  --portfolio-border-gray: #eeeeee;
  --trasnition-master: cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  letter-spacing: 0.03em;
  font-family: var(--font-primary);
}
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.modal-window {
  position: absolute;
  background-color: var(--white);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  transform: scale(1);
  transition: transform 250ms var(--trasnition-master);
}
.modal-header {
  margin: 40px 40px 12px 40px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--brand-gray);
}
.form-label-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-input-box {
  padding: 11px 12px 11px 12px;
  display: flex;
  align-items: center;
  width: 424px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border, fill;
  transition: 250ms var(--trasnition-master);
}
.form-input {
  margin-left: 12px;
  outline: none;
  border: none;
  width: calc(100% - 36px);
}
.form-input-textarea {
  outline: none;
  resize: none;
  width: 416px;
  height: 94px;
  border: none;
  border-radius: 4px;
}
.form-input-textarea::placeholder {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form-input-box:hover,
.form-input-box:focus-within {
  border-color: var(--brand-blue);
  fill: var(--brand-blue);
}
.form-privacy-agreement {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 10px 0 20px 0;
}
.check {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(1px, 1px, 1px, 1px);
}
.check + span {
  border-radius: 4px;
  border: 1px solid var(--brand-gray);
  fill: #fff0;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 250ms var(--trasnition-master),
    fill 250ms var(--trasnition-master),
    border-color 250ms var(--trasnition-master);
}
.check:checked + span {
  border-color: #fff0;
  background-color: var(--brand-blue);
  fill: var(--white);
}
.form-submit {
  color: white;
  border: none;
  padding: 10px 76px;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--brand-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  left: 490px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-close-btn > svg {
  max-width: 18px;
  max-height: 18px;
  margin: 5px;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal-window {
  transform: scale(0);
  transition: transform 1ms var(--trasnition-master);
}
header {
  border-bottom: #ececec 1px solid;
}
ul {
  list-style: none;
}
.section {
  padding: 94px 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
header > div {
  display: flex;
  padding: 25px 0;
}
.container-solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 133px 0;
}
.container-advantages {
  display: flex;
  justify-content: center;
}
.container-footer {
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
}
.container-header {
  display: flex;
  justify-content: space-between;
}
header .logo {
  margin-right: 93px;
}
.section-header-nav {
  display: flex;
}
.section-header-list {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 46px;
}
.section-header-contact-list {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.section-footer {
  background-color: var(--brand-darkgray);
  display: flex;
  justify-content: center;
}
.footer-header {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 20px;
}
.footer-socials-list {
  display: flex;
  gap: 10px;
}
.newsletter-input {
  width: calc(356px - 32px);
  caret-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  padding: 15px 16px;
  background-color: var(--brand-darkgray);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.newsletter-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-newsletter {
  display: flex;
  gap: 12px;
}
.newsletter-btn {
  display: flex;
  align-items: center;
  gap: 24px;
  fill: var(--white);
  color: var(--white);
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 30px;
  border: none;
  padding: 10px 28px 10px 42px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.footer-socials-link {
  max-width: 44px;
  max-height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: 250ms background var(--trasnition-master);
}
.footer-socials-link:hover {
  background: var(--brand-blue);
}
.footer-socials-svg {
  max-width: 20px;
  max-height: 20px;
  padding: 12px;
  fill: var(--white);
}
.order-solution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("./../images/main_page_bg.jpg");
  background-size: cover;
}
.order-header {
  margin-bottom: 30px;
  max-width: 696px;
  text-align: center;
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order-button {
  font-family: var(--font-primary);
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--brand-blue);
  letter-spacing: 0.06em;
  cursor: pointer;
}
.solution-advantages {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.advantage-svg {
  max-width: 270px;
  max-height: 70px;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: var(--brand-bluegray);
  border-radius: 4px;
}
.smartphone {
  max-width: 10px;
  max-height: 16px;
  fill: var(--svg-gray);
}
.envelope {
  max-width: 16px;
  max-height: 12px;
  fill: var(--svg-gray);
}
.contact-list-element {
  display: flex;
  gap: 10px;
  align-items: center;
}
.advantage-header {
  margin-bottom: 10px;
  color: var(--brand-black);
  font-size: 14px;
  font-weight: 700;

  text-transform: uppercase;
}
.advantage-text {
  max-width: 270px;
  color: var(--brand-gray);
  font-size: 14px;
  line-height: 24px;
}
.main-page-advantages {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
.our-work-section {
  display: flex;
  justify-content: center;
}
.our-work-header {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.our-work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.our-work-list > li {
  position: relative;
}
.our-work-list h3 {
  position: absolute;
  top: 224px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white);
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.our-team-section {
  background-color: var(--brand-bluegray);
  display: flex;
  justify-content: center;
}
.our-team-header {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.our-team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.team-member-header {
  margin: 30px 0 10px 0;
  font-weight: 500;
  color: var(--brand-black);
}
.team-member-profession {
  margin: 0 0 16px 0;
  color: var(--brand-gray);
}
.team-member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
.team-member-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.team-member-social-link {
  border-radius: 50%;
  max-width: 44px;
  max-height: 44px;
  transition: 250ms background var(--trasnition-master);
}
.team-member-social-link:hover {
  border-radius: 50%;
  background-color: var(--brand-blue);
}
.team-member-social-svg {
  max-width: 20px;
  max-height: 20px;
  padding: 12px;
  fill: var(--svg-gray);
  transition: 250ms fill var(--trasnition-master);
}
.team-member-social-link:hover .team-member-social-svg {
  fill: var(--white);
}
.our-customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.customer-svg {
  max-width: 106px;
  max-height: 60px;
  border: var(--svg-gray) 1px solid;
  border-radius: 4px;
  padding: 16px 32px;
  fill: var(--svg-gray);
  transition: 250ms fill var(--trasnition-master);
}
.customer-svg:hover {
  fill: var(--brand-blue);
  border-color: var(--brand-blue);
}
.our-customers-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.our-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-buttons-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filter-button {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--brand-black);
  padding: 6px 22px;
  background-color: var(--brand-bluegray);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background, box-shadow;
  transition: 250ms var(--trasnition-master);
}
.filter-button:hover {
  background-color: var(--brand-blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.project-card {
  border: var(--portfolio-border-gray) solid 1px;
  transition: box-shadow 250ms var(--trasnition-master);
}
.project-card-container {
  position: relative;
  overflow: hidden;
}
.project-card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--trasnition-master);
}
.project-card:hover .project-card-overlay,
.project-card:focus .project-card-overlay {
  transform: translateY(0%);
}
.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-card-header {
  color: var(--brand-black);
  margin: 20px 0 0 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.project-card-overlay-text {
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: var(--white);
}
.project-card-desc {
  color: var(--brand-gray);
  margin: 4px 0 20px 24px;
  line-height: 30px;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-style: normal;
  color: var(--white);
}
.address-element {
  font-size: 14px;
}
.links {
  color: var(--brand-black);
  letter-spacing: 0.02em;
  transition: color 250ms var(--trasnition-master);
}
.links:hover,
.links:active {
  color: var(--brand-blue);
}
.link-underline::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 28px;
  width: 58px;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}
.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--brand-gray);
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color 250ms var(--trasnition-master);
}
.contact:hover,
.contact:focus {
  color: var(--brand-blue);
}
.contact svg {
  transition: 250ms var(--trasnition-master);
}
.contact:hover svg,
.contact:focus svg {
  fill: var(--brand-blue);
}
.logo {
  color: var(--brand-blue);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
address {
  margin-top: 20px;
}
.logo > span {
  color: var(--brand-black);
}
footer .logo > span {
  color: var(--white);
}
