@use "../utils/vars";
.team {
  background-color: vars.$brand-bluegray;
  display: flex;
  justify-content: center;
  &__header {
    margin: 0 0 50px 0;
    font-weight: vars.$font-700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &-social__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  &-social__link {
    border-radius: 50%;
    max-width: 44px;
    max-height: 44px;
    transition: 250ms background vars.$trasnition-master;
    &:hover {
      border-radius: 50%;
      background-color: vars.$brand-blue;
      .team__social__icon {
        fill: vars.$white;
      }
    }
  }
  &-social__icon {
    max-width: 20px;
    max-height: 20px;
    padding: 12px;
    fill: vars.$svg-gray;
    transition: 250ms fill vars.$trasnition-master;
  }
}
.team-member__name {
  margin: 30px 0 10px 0;
  font-weight: 500;
  color: vars.$brand-black;
}
.team-member__profession {
  margin: 0 0 16px 0;
  color: vars.$brand-gray;
}
.team-member__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: vars.$white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
