@use "../utils/vars";
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.project__card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms vars.$trasnition-master;
}
.project__card {
  border: vars.$portfolio-border-gray solid 1px;
  transition: box-shadow 250ms vars.$trasnition-master;
  &:focus,
  &:hover {
    .project__card-overlay {
      transform: translateY(0%);
    }
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__container {
    position: relative;
    overflow: hidden;
  }
  &__header {
    color: vars.$brand-black;
    margin: 20px 0 0 24px;
    font-size: 18px;
    font-weight: vars.$font-700;
    line-height: 36px;
    letter-spacing: 0.06em;
  }
  &__overlay-text {
    height: 100%;
    padding: 49px 45px 49px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    color: vars.$white;
  }
  &__desc {
    color: vars.$brand-gray;
    margin: 4px 0 20px 24px;
    line-height: 30px;
  }
}
