$font-primary: "Roboto", sans-serif;
$font-weight-primary: 700;
$white: #fff;
$brand-blue: #2196f3;
$brand-black: #212121;
$brand-gray: #757575;
$brand-bluegray: #f5f4fa;
$brand-darkgray: #2f303a;
$svg-gray: #afb1b8;
$portfolio-border-gray: #eeeeee;
$trasnition-master: cubic-bezier(0.4, 0, 0.2, 1);
